/*HEADER*/

#header {
    background-color: white;
}

#aboveNavbar {
    background-color: white;
    list-style: none;
    margin-top: 0px;
}

ul#aboveNavbar li {
    display: inline-block;
    vertical-align: middle;
    padding-top: 1.5%;
}

#navbarImg {
    width: 70%;
}

#navbarTxt {
    padding-top: 3%;
    color: #999;
    font-size: 18px;
    line-height: 20px;
    font-style: italic;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}

.right {
    float: right;
    padding-right: 17%;
}

.left {
    float: left;
    padding-left: 10%;
}

#globe {
    width: 1.0em;
    vertical-align: middle;
    filter: invert(41%) sepia(15%) saturate(1699%) hue-rotate(172deg) brightness(96%) contrast(95%);
}

ul#navbarLeft li,
ul#navbarRight li {
    display: inline;
    vertical-align: middle;
}

.text {
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#navbarLeft,
#navbarRight {
    display: inline;
    vertical-align: middle;
}

#navbarRight {
    padding-left: 40%;
}

#navbar {
    display: inline-block;
    color: #3e71ab;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 90.2%;
    padding-left: 9.8%;
    padding-bottom: 1%;
    padding-top: 1%;
    border-bottom: 2px solid #00244a;
}

.divider-vertical {
    height: 16px;
    margin: 12px 0;
    border-left: 1px solid #00244a;
    border-right: 1px solid #5f88af;
    width: 0%;
}

/*BODY*/

body {
    background-image: url("images/bg1.svg");
    background-size: 33%;
    background-position: top;
    background-color: #efefef;
}

#midPhoto {
    text-align: center;
    padding-top: 2%;
}

#midBox {
    width: 59%;
    height: 30%;
    background-color: white;
    margin: auto;
    margin-top: 2%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 1%;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

#tonsOfBoxes {
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 61%;
}

.tile {
    margin: 0 12.4px 20px;
    width: 165px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding-top: 2%;
    vertical-align: top;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 165px;
}

.tileImage {
    max-height: 130px;
}

#tileBody {
    text-align: center;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    color: #317eac;
}

#tileFooter {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 4px 15px 10px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    color: #317eac;
}

#tables {
    background-color: white;
    width: 59%;
    margin-left: 20%;
    padding-left: 0.5%;
    padding-top: 0.001%;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-bottom: 1.5%;
    margin-bottom: 50px;
}

table {
    text-align: left;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    text-align: center;
    width: 99%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 15px;
}

h2 {
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #317eac;
    font-size: 18px;
}

.tableBlue {
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #317eac;
    font-size: 15px;
}

#numberTwo{
    padding-top: 1%;
}

/* FOOTER */


#footer{
    background-color: #3e71ab;
    border-top: 5px solid #9db7d4;
    color: #fff;
    padding-bottom: 0.5%;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}

#footerLeft{
    float: left;
    list-style: none;
    padding-left: 20%;
    line-height: 1.5em;
}

#footerRight{
    padding-left: 45%;
    list-style: none;
    line-height: 1.5em;
}

#foundation{
    font-weight: bold;
}

#email{
    color: #9db7d4;
}