#header {
    width: 100%;
}

#aboveNavbar {
    display: inline-block;
    width: 100%;
    list-style: none;
}

ul#aboveNavbar li {
    display: inline-block;
    vertical-align: middle;
    padding-top: 1%;
}

#navbarImg {
    width: 70%;
}

#navbarTxt {
    padding-left: 4%;
    padding-right: 6%;
    padding-top: 2%;
    color: #999;
    font-size: 18px;
    line-height: 20px;
    font-style: italic;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}
}

.right {
    float: right;
    padding-right: 17%;
}

.left {
    float: left;
    padding-left: 10%;
}

#globe {
    width: 1.0em;
    vertical-align: middle;
    filter: invert(41%) sepia(15%) saturate(1699%) hue-rotate(172deg) brightness(96%) contrast(95%);
}

ul#navbarLeft li,
ul#navbarRight li {
    display: inline;
    vertical-align: middle;
}

.text {
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#navbarLeft,
#navbarRight {
    display: inline;
    vertical-align: middle;
}

#navbarRight{
    padding-left: 35%;
}

#navbar {
    display: inline-block;
    color: #3e71ab;
    padding-left: 10%;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    padding-bottom: 1%;
    border-bottom: 2px solid #00244a;
}

.divider-vertical {
    height: 16px;
    margin: 12px 0;
    border-left: 1px solid #00244a;
    border-right: 1px solid #5f88af;
    width: 0%;
}